.container {
  background-color: #ffff;
  padding: 0px 30px 0px 30px;
  height: calc(100vh - 522px);
  overflow: auto;
  box-shadow: 3px 5px 20px 0px #0000000a;

  & > table {
    width: 100%;

    & > thead {
      background-color: #ffff;
      position: sticky;
      top: 0;
      z-index: 1;
      text-align: left;
      font-size: 12px;
      font-weight: 600;
      color: #545f7d;
      text-transform: uppercase;
      height: 50px;
    }

    & > tbody {
      font-size: 14px;
      font-weight: 400;
      color: #545f7d;

      & > tr > td {
        padding: 21px 0px 23px 0px;
        border-bottom: 1px solid #213f7d1a;

        & > a {
          color: #545f7d;
          text-decoration: none;
        }
      }
    }
  }
}

.headerContent {
  display: flex;
  gap: 10px;

  & > svg {
    cursor: pointer;
  }
}

// PAGINATOR STYLE
.paginatorWrapper {
  display: flex;
  justify-content: space-between;

  & p {
    font-size: 14px;
    font-weight: 400;
    color: #545f7d;
  }
}

.leftSection {
  display: flex;
  gap: 10px;
  align-items: center;

  & > div {
    display: flex;
    gap: 10px;
    width: 80px;
    height: 30px;
    border-radius: 4px 4px 4px 4px;
    align-items: center;
    background-color: #213f7d1a;
    justify-content: center;
  }
}

.rightSection {
  display: flex;
  gap: 15px;
  align-items: center;

  & > div {
    display: flex;
    gap: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px 4px 4px 4px;
    align-items: center;
    background-color: #213f7d1a;
    justify-content: center;
  }
}

.emptyState {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
