.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleSection {
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 24px;
    font-weight: 500;
    color: #213f7d;
    line-height: 0px;
  }
}

.breadCrumb {
  display: flex;
  gap: 13px;
  align-items: center;

  & > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
