.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleSection {
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 24px;
    font-weight: 500;
    color: #213f7d;
    line-height: 0px;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 1006px) {
    flex-direction: column;
    gap: 10px;
  }
}

.breadCrumb {
  display: flex;
  gap: 13px;
  align-items: center;
  color: #545f7d;
  text-decoration: none;

  & > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

// METADATA SECTION STYLE

.metaWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffff;
  box-shadow: 3px 5px 20px 0px #0000000a;
  padding: 30px 30px 0px 30px;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.avatarSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #ebf0fa;
  border-radius: 100%;
}

.nameSection {
  display: flex;
  flex-direction: column;

  & > p:first-of-type {
    font-size: 22px;
    font-weight: 500;
    line-height: 0px;
    color: #213f7d;
  }

  & > p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    color: #545f7d;
  }
}

.tierSection {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
  justify-content: center;
  border-left: 1px solid #213f7d1a;
  border-right: 1px solid #213f7d1a;

  & > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 0px;
    color: #545f7d;
  }

  & > div {
    display: flex;
    gap: 4px;
  }
}

.balanceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > p:first-of-type {
    font-size: 22px;
    font-weight: 500;
    line-height: 0px;
    color: #213f7d;
  }

  & > p:last-of-type {
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
    color: #213f7d;
  }
}

.bottomSection {
  display: flex;
  gap: 80px;
  text-wrap: nowrap;

  @media (max-width: 1006px) {
    overflow: auto;
  }

  @media (max-width: 540px) {
    overflow: auto;
  }

  & > div {
    line-height: 0px;
    font-size: 16px;
    font-weight: 400;
    padding: 25px 10px;
  }

  & > div:first-of-type {
    color: #39cdcc;
    border-bottom: 2px solid #39cdcc;
  }
}

// MAIN CARD STYLE
.mainCardWrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  box-shadow: 3px 5px 20px 0px #0000000a;
  padding: 30px 30px 0px 30px;
  height: calc(100vh - 585px);
  overflow: auto;
}

.gridFit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #213f7d1a;

  & > div:first-of-type {
    font-size: 16px;
    font-weight: 500;
    line-height: 0px;
    color: #213f7d;
  }

  & > div:last-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    align-items: baseline;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > p:first-of-type {
        font-size: 12px;
        font-weight: 400;
        color: #545f7d;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      }

      & > p:last-of-type {
        font-size: 16px;
        font-weight: 500;
        color: #545f7d;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      }
    }
  }
}

.gridFill {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #213f7d1a;
  & > div:first-of-type {
    font-size: 16px;
    font-weight: 500;
    line-height: 0px;
    color: #213f7d;
  }

  & > div:last-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    align-items: baseline;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > p:first-of-type {
        font-size: 12px;
        font-weight: 400;
        color: #545f7d;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      }

      & > p:last-of-type {
        font-size: 16px;
        font-weight: 500;
        color: #545f7d;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      }
    }
  }
}
