.authWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fbfbfb;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 139px;
  width: 50%;
  padding-top: 106px;
  padding-left: 67px;
}

.rightContainer {
  width: 50%;
  background-color: #ffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  & > h1 {
    line-height: unset;
    color: #213f7d;
  }
}
